In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/matplotlib/font_manager.py:229: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [3]:
stats = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference per game stats 2017-19.csv')
print(stats.shape)
stats.head()

(1967, 30)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFT%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Álex Abrines,SG,23,OKC,68,6,15.5,2.0,5.0,0.393,1.4,3.6,0.381,0.6,1.4,0.426,0.531,0.6,0.7,0.898,0.3,1.0,1.3,0.6,0.5,0.1,0.5,1.7,6.0,2017
1,Quincy Acy,PF,26,TOT,38,1,14.7,1.8,4.5,0.412,1.0,2.4,0.411,0.9,2.1,0.413,0.521,1.2,1.6,0.750,0.5,2.5,3.0,0.5,0.4,0.4,0.6,1.8,5.8,2017
2,Quincy Acy,PF,26,DAL,6,0,8.0,0.8,2.8,0.294,0.2,1.2,0.143,0.7,1.7,0.400,0.324,0.3,0.5,0.667,0.3,1.0,1.3,0.0,0.0,0.0,0.3,1.5,2.2,2017
3,Quincy Acy,PF,26,BRK,32,1,15.9,2.0,4.8,0.425,1.1,2.6,0.434,0.9,2.2,0.414,0.542,1.3,1.8,0.754,0.6,2.8,3.3,0.6,0.4,0.5,0.6,1.8,6.5,2017
4,Steven Adams,C,23,OKC,80,80,29.9,4.7,8.2,0.571,0.0,0.0,0.000,4.7,8.2,0.572,0.571,2.0,3.2,0.611,3.5,4.2,7.7,1.1,1.1,1.0,1.8,2.4,11.3,2017

# Data Cleaning

Due to trades, some players have multiple entries. The 'Tm' features highlights which team the player has played for. TOT indicates the combined stats in one season while the other entries are stats for the respective teams they played in. We will consider the stats of the entire season. We will also be considering only players who have played at least 15 games.

In [4]:
#Replacing TOT with the last team played
for y in [2017, 2018, 2019]:
    dup = []
    for i, k in enumerate(stats[stats['Year'] == y]['Player']):
        dup += [k] if stats.loc[stats['Year'] == y, 'Tm'].reset_index(drop = True)[i] == 'TOT' else []

    for j in dup:
        index = list(stats.loc[(stats['Player'] == j) & (stats['Year'] == y), 'Tm'].index)
        stats.loc[index[0], 'Tm'] = stats.loc[index[-1], 'Tm']
        
stats.drop_duplicates(['Player', 'Year'], keep = 'first', inplace = True)

In [5]:
#Dropping players who played less than 15 games
stats = stats.loc[stats.G >= 15]
stats.reset_index(drop = True, inplace = True)

In [69]:
!pip install unidecode

Collecting unidecode
  Using cached https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1
WARNING: You are using pip version 19.3.1; however, version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [70]:
import unidecode
for j in stats['Player'].unique():
    stats.replace(j, unidecode.unidecode(j), inplace = True)

In [71]:
stats['Player'] = stats['Player'].str.replace('.', '')

In [6]:
stats.shape

(1322, 30)

# Missing Data:

In [7]:
stats.isnull().sum()[stats.isnull().sum() > 0]

3P%    66
2P%     1
FT%     3
dtype: int64

In [8]:
stats[['3P', '3PA', '3P%']][stats['3P%'].isnull()].describe()

         3P   3PA  3P%
count  66.0  66.0  0.0
mean    0.0   0.0  NaN
std     0.0   0.0  NaN
min     0.0   0.0  NaN
25%     0.0   0.0  NaN
50%     0.0   0.0  NaN
75%     0.0   0.0  NaN
max     0.0   0.0  NaN

In [9]:
stats[['2P', '2PA', '2P%']][stats['2P%'].isnull()].describe()

        2P  2PA  2P%
count  1.0  1.0  0.0
mean   0.0  0.0  NaN
std    NaN  NaN  NaN
min    0.0  0.0  NaN
25%    0.0  0.0  NaN
50%    0.0  0.0  NaN
75%    0.0  0.0  NaN
max    0.0  0.0  NaN

In [10]:
stats[['FT', 'FTA', 'FT%']][stats['FT%'].isnull()].describe()

        FT  FTA  FT%
count  3.0  3.0  0.0
mean   0.0  0.0  NaN
std    0.0  0.0  NaN
min    0.0  0.0  NaN
25%    0.0  0.0  NaN
50%    0.0  0.0  NaN
75%    0.0  0.0  NaN
max    0.0  0.0  NaN

NAN because is all 0

# NBA All Stars

In [11]:
allstar = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference All-Stars.csv')
allstar.head()

              Player  Year
0     Michael Jordan  1998
1         Grant Hill  1998
2         Shawn Kemp  1998
3    Dikembe Mutombo  1998
4  Anfernee Hardaway  1998

In [12]:
allstar['All Star'] = 1
allstar['Total All Star'] = 1

In [13]:
stats = stats.merge(allstar, on = ['Player', 'Year'], how = 'outer').fillna(0).sort_values('Year')
for i in stats['Player'].unique():
    stats.loc[stats['Player'] == i, 'Total All Star'] = stats.loc[stats['Player'] == i, 'Total All Star'].cumsum()
stats = stats[stats['Year'] >= 2017]

In [14]:
stats.shape

(1322, 32)

# NBA Awards

In [15]:
awards = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference Awards 1998-2019.csv')
awards.head()

,Unnamed: 0,Year,Player,MVP,Rookie of Year,DPOY,6th man of Year,Most Improved,Finals MVP
0,108,1998,Alan Henderson,NaN,NaN,NaN,NaN,1.0,NaN
1,21,1998,Michael Jordan,1.0,NaN,NaN,NaN,NaN,1.0
2,87,1998,Danny Manning,NaN,NaN,NaN,1.0,NaN,NaN
3,65,1998,Dikembe Mutombo,NaN,NaN,1.0,NaN,NaN,NaN
4,64,1999,Alonzo Mourning,NaN,NaN,1.0,NaN,NaN,NaN

In [16]:
awards.fillna(0, inplace = True)

In [17]:
awards['Total MVP'] = awards['MVP']
awards['Total Rookie of Year'] = awards['Rookie of Year']
awards['Total DPOY'] = awards['DPOY']
awards['Total 6th man of Year'] = awards['6th man of Year']
awards['Total Most Improved'] = awards['Most Improved']
awards['Total Finals MVP'] = awards['Finals MVP']

In [18]:
stats = stats.merge(awards.drop('Unnamed: 0', axis = 1), on = ['Player', 'Year'], how = 'outer').fillna(0).sort_values('Year')
for i in stats['Player'].unique():
    stats.loc[stats['Player'] == i , 'Total MVP'] = stats.loc[stats['Player'] == i, 'Total MVP'].cumsum()
    stats.loc[stats['Player'] == i , 'Total Rookie of Year'] = stats.loc[stats['Player'] == i, 'Total Rookie of Year'].cumsum()
    stats.loc[stats['Player'] == i , 'Total DPOY'] = stats.loc[stats['Player'] == i, 'Total DPOY'].cumsum()
    stats.loc[stats['Player'] == i , 'Total 6th man of Year'] = stats.loc[stats['Player'] == i, 'Total 6th man of Year'].cumsum()
    stats.loc[stats['Player'] == i , 'Total Most Improved'] = stats.loc[stats['Player'] == i, 'Total Most Improved'].cumsum()
    stats.loc[stats['Player'] == i , 'Total Finals MVP'] = stats.loc[stats['Player'] == i, 'Total Finals MVP'].cumsum()
stats = stats[stats['Year'] >= 2017]

# All NBA Teams

In [19]:
allnba = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference All NBA Teams.csv')
allnba.head()

   Unnamed: 0  Year Team                 Player
0           0  2019  1st           Nikola Jokić
1           1  2019  1st  Giannis Antetokounmpo
2           2  2019  1st            Paul George
3           3  2019  1st           James Harden
4           4  2019  1st          Stephen Curry

In [20]:
allrookie = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference All NBA Rookie Teams.csv')
allrookie.head()

   Unnamed: 0  Year Team         Player
0           0  2019  1st    Luka Dončić
1           1  2019  1st     Trae Young
2           2  2019  1st  Deandre Ayton
3           3  2019  1st  Jaren Jackson
4           4  2019  1st  Marvin Bagley

In [21]:
alldefensive = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference All NBA Defensive Teams.csv')
alldefensive.head()

   Unnamed: 0  Year Team                 Player
0           0  2019  1st            Rudy Gobert
1           1  2019  1st            Paul George
2           2  2019  1st  Giannis Antetokounmpo
3           3  2019  1st           Marcus Smart
4           4  2019  1st           Eric Bledsoe

In [22]:
allnba.loc[allnba['Team'] == '1st', 'All NBA 1st Team'] = 1
allnba.loc[allnba['Team'] == '2nd', 'All NBA 2nd Team'] = 1
allnba.loc[allnba['Team'] == '3rd', 'All NBA 3rd Team'] = 1

In [23]:
allrookie.loc[allrookie['Team'] == '1st', 'All Rookie 1st Team'] = 1
allrookie.loc[allrookie['Team'] == '2nd', 'All Rookie 2nd Team'] = 1

In [24]:
alldefensive.loc[alldefensive['Team'] == '1st', 'All Defensive 1st Team'] = 1
alldefensive.loc[alldefensive['Team'] == '2nd', 'All Defensive 2nd Team'] = 1

In [25]:
allnba['Total All NBA 1st Team'] = allnba['All NBA 1st Team']
allnba['Total All NBA 2nd Team'] = allnba['All NBA 2nd Team']
allnba['Total All NBA 3rd Team'] = allnba['All NBA 3rd Team']

allrookie['Total All Rookie 1st Team'] = allrookie['All Rookie 1st Team']
allrookie['Total All Rookie 2nd Team'] = allrookie['All Rookie 2nd Team']

alldefensive['Total All Defensive 1st Team'] = alldefensive['All Defensive 1st Team']
alldefensive['Total All Defensive 2nd Team'] = alldefensive['All Defensive 2nd Team']

In [26]:
allnba.fillna(0, inplace = True)
allrookie.fillna(0, inplace = True)
alldefensive.fillna(0, inplace = True)

In [27]:
stats = stats.merge(allnba.drop(['Unnamed: 0', 'Team'], axis = 1), on = ['Player', 'Year'], how = 'outer').fillna(0).sort_values('Year')
for i in stats['Player'].unique():
    stats.loc[stats['Player'] == i , 'Total All NBA 1st Team'] = stats.loc[stats['Player'] == i, 'Total All NBA 1st Team'].cumsum()
    stats.loc[stats['Player'] == i , 'Total All NBA 2nd Team'] = stats.loc[stats['Player'] == i, 'Total All NBA 2nd Team'].cumsum()
    stats.loc[stats['Player'] == i , 'Total All NBA 3rd Team'] = stats.loc[stats['Player'] == i, 'Total All NBA 3rd Team'].cumsum()
stats = stats[stats['Year'] >= 2017]

In [28]:
stats = stats.merge(allrookie.drop(['Unnamed: 0', 'Team'], axis = 1), on = ['Player', 'Year'], how = 'outer').fillna(0).sort_values('Year')
for i in stats['Player'].unique():
    stats.loc[stats['Player'] == i , 'Total All Rookie 1st Team'] = stats.loc[stats['Player'] == i, 'Total All Rookie 1st Team'].cumsum()
    stats.loc[stats['Player'] == i , 'Total All Rookie 2nd Team'] = stats.loc[stats['Player'] == i, 'Total All Rookie 2nd Team'].cumsum()
stats = stats[stats['Year'] >= 2017]

In [29]:
stats = stats.merge(alldefensive.drop(['Unnamed: 0', 'Team'], axis = 1), on = ['Player', 'Year'], how = 'outer').fillna(0).sort_values('Year')
for i in stats['Player'].unique():
    stats.loc[stats['Player'] == i , 'Total All Defensive 1st Team'] = stats.loc[stats['Player'] == i, 'Total All Defensive 1st Team'].cumsum()
    stats.loc[stats['Player'] == i , 'Total All Defensive 2nd Team'] = stats.loc[stats['Player'] == i, 'Total All Defensive 2nd Team'].cumsum()
stats = stats[stats['Year'] >= 2017]

In [30]:
stats.shape

(1325, 58)

# Free Agency

In [56]:
free_agency = pd.read_csv('Web-Scrapping Scripts/Basketball-Reference Free Agency.csv')
free_agency.head()

,Unnamed: 0,Player,Stats,Terms,Year
0,0,Stephen Curry,"25.3 Pts, 4.5 Reb, 6.6 Ast",Reportedly agreed to 5-yr/$201M deal with Warr...,2017
1,1,Kevin Durant,"25.1 Pts, 8.3 Reb, 4.8 Ast",Reportedly agreed to 2-yr/$53M deal with Warriors,2017
2,2,Gordon Hayward,"21.9 Pts, 5.4 Reb, 3.5 Ast",Signed 4-yr/$128M deal with Celtics,2017
3,3,Kyle Lowry,"22.4 Pts, 4.8 Reb, 7.0 Ast",Signed 3-yr/$100M deal with Raptors,2017
4,4,Otto Porter,"13.4 Pts, 6.4 Reb, 1.5 Ast",Signed 4-yr/$106M deal with Wizards,2017

In [72]:
for j in free_agency['Player'].unique():
    free_agency.replace(j, unidecode.unidecode(j), inplace = True)

In [73]:
free_agency['Player'] = free_agency['Player'].str.replace('.', '')

In [50]:
salary_2017_2018 = pd.read_csv('Web-Scrapping Scripts/Hoopshype.com NBA Salaries 2017-2018.csv')
salary_2017_2018.head()

   Unnamed: 0          Player  Actual_Salary  Adjusted_Salary  Year
0           0   Stephen Curry       34682550         36266630  2017
1           1    LeBron James       33285709         34805990  2017
2           2    Paul Millsap       30769231         32174575  2017
3           3  Gordon Hayward       29727900         31085683  2017
4           4   Blake Griffin       29512900         30860863  2017

In [34]:
salary_2019 = pd.read_csv('Web-Scrapping Scripts/Hoopshype.com NBA Salaries 2019.csv')
salary_2019.head()

   Unnamed: 0             Player    Salary  Year
0           0      Stephen Curry  40231758  2019
1           1  Russell Westbrook  38506482  2019
2           2         Chris Paul  38506482  2019
3           3       James Harden  38199000  2019
4           4          John Wall  38199000  2019

In [57]:
free_agency.merge(salary_2017_2018[['Player', 'Actual_Salary', 'Year']], how = 'left', on = ['Player', 'Year'])

,Unnamed: 0,Player,Stats,Terms,Year,Actual_Salary
0,0,Stephen Curry,"25.3 Pts, 4.5 Reb, 6.6 Ast",Reportedly agreed to 5-yr/$201M deal with Warr...,2017,34682550.0
1,1,Kevin Durant,"25.1 Pts, 8.3 Reb, 4.8 Ast",Reportedly agreed to 2-yr/$53M deal with Warriors,2017,25000000.0
2,2,Gordon Hayward,"21.9 Pts, 5.4 Reb, 3.5 Ast",Signed 4-yr/$128M deal with Celtics,2017,29727900.0
3,3,Kyle Lowry,"22.4 Pts, 4.8 Reb, 7.0 Ast",Signed 3-yr/$100M deal with Raptors,2017,28903704.0
4,4,Otto Porter,"13.4 Pts, 6.4 Reb, 1.5 Ast",Signed 4-yr/$106M deal with Wizards,2017,24773250.0
5,5,Jeff Teague,"15.3 Pts, 4.0 Reb, 7.8 Ast",Signed 3-yr/$57M deal with Timberwolves,2017,19000000.0
6,6,Blake Griffin,"21.6 Pts, 8.1 Reb, 4.9 Ast",Signed 5-yr/$173M deal with Clippers,2017,29512900.0
7,7,Andre Iguodala,"7.6 Pts, 4.0 Reb, 3.4 Ast",Signed 3-yr/$48M deal with Warriors,2017,14814815.0
8,8,Danilo Gallinari,"18.2 Pts, 5.2 Reb, 2.1 Ast",Traded to Clippers as part of sign and trade (...,2017,20559599.0
9,9,Pau Gasol,"12.4 Pts, 7.8 Reb, 2.3 Ast",Signed 3-yr/$48M deal with Spurs,2017,16000000.0
10,10,Paul Millsap,"18.1 Pts, 7.7 Reb, 3.7 Ast",Signed 3-yr/$90M deal with Nuggets,2017,30769231.0
11,11,Mason Plumlee,"10.4 Pts, 7.5 Reb, 3.5 Ast",Signed 3-yr/$41M deal with Nuggets,2017,14041096.0
12,12,George Hill,"16.9 Pts, 3.4 Reb, 4.2 Ast",Signed 3-yr/$57M deal with Kings,2017,20000000.0
13,13,JaMychal Green,"8.9 Pts, 7.1 Reb, 1.1 Ast",Signed 2-yr/$27M deal with Grizzlies,2017,8533333.0
14,14,David Lee,"7.3 Pts, 5.6 Reb, 1.6 Ast",NaN,2017,NaN
15,15,Dewayne Dedmon,"5.1 Pts, 6.5 Reb, 0.6 Ast",Signed 2-yr/$14M deal with Hawks,2017,6900000.0
16,16,Serge Ibaka,"14.8 Pts, 6.8 Reb, 0.9 Ast",Signed 3-yr/$65M deal with Raptors,2017,20061729.0
17,17,James Johnson,"12.8 Pts, 4.9 Reb, 3.6 Ast",Signed 4-yr/$60M deal with Heat,2017,13734000.0
18,18,Patty Mills,"9.5 Pts, 1.8 Reb, 3.5 Ast",Signed 4-yr/$50M deal with Spurs,2017,NaN
19,19,Joe Ingles,"7.1 Pts, 3.2 Reb, 2.7 Ast",Signed 4-yr/$52M deal with Jazz,2017,13636364.0
20,20,Amir Johnson,"6.5 Pts, 4.6 Reb, 1.8 Ast",Signed 1-yr/$11M deal with 76ers,2017,11000000.0
21,21,Tim Hardaway,"14.5 Pts, 2.8 Reb, 2.3 Ast",Signed 4-yr/$71M deal with Knicks,2017,NaN
22,22,J.J. Redick,"15.0 Pts, 2.2 Reb, 1.4 Ast",Signed 1-yr/$23M deal with 76ers,2017,NaN
23,23,Zaza Pachulia,"6.1 Pts, 5.9 Reb, 1.9 Ast",Signed 1-yr/$3.5M deal with Warriors,2017,3477600.0
24,24,Kentavious Caldwell-Pope,"13.8 Pts, 3.3 Reb, 2.5 Ast",Reportedly agreed to 1-yr/$18M deal with Lakers,2017,17745894.0
25,25,Andre Roberson,"6.6 Pts, 5.1 Reb, 1.0 Ast",Signed 3-yr/$30M deal with Thunder,2017,9259260.0
26,26,Marreese Speights,"8.7 Pts, 4.5 Reb, 0.8 Ast",Signed deal with Magic,2017,2116955.0
27,27,Nenê Hilário,"9.1 Pts, 4.2 Reb, 1.0 Ast",Signed 3-yr/$11M deal with Rockets,2017,NaN
28,28,Ersan İlyasova,"13.1 Pts, 5.9 Reb, 1.7 Ast",Signed 1-yr/$6M deal with Hawks,2017,NaN
29,29,Kelly Olynyk,"9.0 Pts, 4.8 Reb, 2.0 Ast",Signed 4-yr/$50M deal with Heat,2017,12007169.0
...,...,...,...,...,...,...
556,228,Theo Pinson,"4.5 Pts, 2.0 Reb, 1.2 Ast",Signed 2-yr $3.14M contract,2019,NaN
557,229,Brandon Sampson,"5.1 Pts, 1.1 Reb, 0.7 Ast",NaN,2019,NaN
558,230,Jordan Sibert,"3.0 Pts, 0.0 Reb, 0.0 Ast",Signed Exhibit 10 contract,2019,NaN
559,231,Kobi Simmons,"0.0 Pts, 0.0 Reb, 0.0 Ast",Signed Exhibit 10 contract,2019,NaN
560,232,Sindarius Thornwell,"1.0 Pts, 0.7 Reb, 0.3 Ast",Signed 1-yr $1.62M contract,2019,NaN
561,233,Tyler Ulis,"0.0 Pts, 0.0 Reb, 0.0 Ast",Signed 1-yr $1.62M contract,2019,NaN
562,234,Quincy Acy,"1.7 Pts, 2.5 Reb, 0.8 Ast",Will reportedly play in Israel,2019,NaN
563,235,Rawle Alkins,"3.7 Pts, 2.6 Reb, 1.3 Ast",NaN,2019,NaN
564,236,Ron Baker,"0.9 Pts, 0.7 Reb, 1.0 Ast",Will reportedly play in Russia,2019,NaN
565,237,Ian Clark,"6.7 Pts, 1.5 Reb, 1.6 Ast",Will reportedly play in China,2019,NaN
566,238,Daniel Hamilton,"3.0 Pts, 2.5 Reb, 1.2 Ast",Signed Exhibit 10 contract,2019,NaN
567,239,Andrew Harrison,"3.2 Pts, 1.2 Reb, 1.4 Ast",Signed training camp deal,2019,NaN
568,240,Udonis Haslem,"2.5 Pts, 2.7 Reb, 0.2 Ast",Signed 1-yr minimum salary contract,2019,NaN
569,241,Mario Hezonja,"8.8 Pts, 4.1 Reb, 1.5 Ast",Signed 2-yr minimum salary contract,2019,NaN
570,242,Isaac Humphries,"3.0 Pts, 2.2 Reb, 0.0 Ast",Signed Exhibit 10 contract,2019,NaN
571,243,Donatas Motiejūnas,"2.0 Pts, 1.0 Reb, 0.3 Ast",Will reportedly play in China,2019,NaN
572,244,Malachi Richardson,"1.4 Pts, 0.6 Reb, 0.0 Ast",Will reportedly play in Israel,2019,NaN
573,245,Miloš Teodosić,"3.2 Pts, 1.1 Reb, 2.1 Ast",Will reportedly play in Italy,2019,NaN
574,246,Deng Adel,"1.7 Pts, 1.0 Reb, 0.3 Ast",Signed Exhibit 10 contract,2019,NaN
575,247,Ryan Anderson,"2.5 Pts, 2.2 Reb, 0.8 Ast",Signed 1-yr $2.56M contract,2019,NaN
576,248,Dairis Bertāns,"2.8 Pts, 0.8 Reb, 0.8 Ast",Will reportedly play in Russia,2019,NaN
577,249,Marquese Chriss,"4.2 Pts, 3.3 Reb, 0.5 Ast",Signed 1-yr $1.67M contract,2019,NaN
578,250,Jawun Evans,"0.8 Pts, 1.5 Reb, 1.3 Ast",NaN,2019,NaN
579,251,Jimmer Fredette,"3.7 Pts, 1.2 Reb, 1.3 Ast",Will reportedly play in Greece,2019,NaN
580,252,J.R. Smith,"6.7 Pts, 1.6 Reb, 1.9 Ast",NaN,2019,NaN
581,253,Wade Baldwin,"1.9 Pts, 0.9 Reb, 0.8 Ast",Will reportedly play in Greece,2019,NaN
582,254,Wayne Selden,"6.9 Pts, 2.4 Reb, 1.5 Ast",Will reportedly play in China,2019,NaN
583,255,Jared Terrell,"2.2 Pts, 0.4 Reb, 0.9 Ast",Will reportedly play in Israel,2019,NaN
584,256,Isaiah Thomas,"8.1 Pts, 1.1 Reb, 1.9 Ast",Signed 1-yr $2.32M contract,2019,NaN
585,257,Antonio Blakeney,"7.3 Pts, 1.9 Reb, 0.7 Ast",Will reportedly play in China,2019,NaN

In [74]:
inconsistent_in_stats = []
for i, k in enumerate(free_agency.merge(salary_2017_2018, how = 'left', on = 'Player')['Player']):
    inconsistent_in_stats += [k] if free_agency.merge(salary_2017_2018, how = 'left', on = 'Player')['Actual_Salary'].isnull()[i] else []
    
inconsistent_in_stats

['David Lee',
 'Patty Mills',
 'Tim Hardaway',
 'Nene Hilario',
 'Brandon Bass',
 'Roy Hibbert',
 'Kris Humphries',
 'Beno Udrih',
 'Anthony Morrow',
 'Boris Diaw',
 'Thomas Robinson',
 'James Jones',
 'Luis Scola',
 'Sergio Rodriguez',
 'Rakeem Christmas',
 'Marcus Thornton',
 'Joel Anthony',
 'Maurice Ndour',
 'Chris Andersen',
 'Randy Foye',
 'Brian Roberts',
 'Jarrod Uthoff',
 'Alan Anderson',
 'Ryan Kelly',
 'Mike Miller',
 'Damjan Rudez',
 'Tiago Splitter',
 'Sasha Vujacic',
 'Jordan Hill',
 'Kyle Wiltjer',
 'Stephen Zimmerman',
 'Norris Cole',
 'Rodney Stuckey',
 'Jared Sullinger',
 'Metta World Peace',
 'Glenn Robinson',
 'Joe Young',
 'Gary Payton',
 'Ish Smith',
 'Nene Hilario',
 'JJ Barea',
 'Glenn Robinson',
 'Cameron Reynolds',
 'Ray Spalding',
 'Walt Lemon',
 'Vince Edwards']

In [63]:
stats[stats['Player'] == 'J.J. Redick']

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFT%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,All Star,Total All Star,MVP,Rookie of Year,DPOY,6th man of Year,Most Improved,Finals MVP,Total MVP,Total Rookie of Year,Total DPOY,Total 6th man of Year,Total Most Improved,Total Finals MVP,All NBA 1st Team,All NBA 2nd Team,All NBA 3rd Team,Total All NBA 1st Team,Total All NBA 2nd Team,Total All NBA 3rd Team,All Rookie 1st Team,All Rookie 2nd Team,Total All Rookie 1st Team,Total All Rookie 2nd Team,All Defensive 1st Team,All Defensive 2nd Team,Total All Defensive 1st Team,Total All Defensive 2nd Team
240,J.J. Redick,SG,32.0,LAC,78.0,78.0,28.2,5.1,11.4,0.445,2.6,6.0,0.429,2.5,5.4,0.462,0.558,2.3,2.6,0.891,0.1,2.1,2.2,1.4,0.7,0.2,1.3,1.6,15.0,2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707,J.J. Redick,SG,33.0,PHI,70.0,70.0,30.2,5.8,12.6,0.460,2.8,6.6,0.420,3.0,6.0,0.504,0.569,2.8,3.1,0.904,0.1,2.4,2.5,3.0,0.5,0.1,1.5,1.8,17.1,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1171,J.J. Redick,SG,34.0,PHI,76.0,63.0,31.3,5.9,13.5,0.440,3.2,8.0,0.397,2.8,5.6,0.502,0.557,3.0,3.4,0.894,0.3,2.2,2.4,2.7,0.4,0.2,1.3,1.7,18.1,2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
free_agency[free_agency['Player'] == 'Stephen Curry']

,Unnamed: 0,Player,Terms,Year
0,0,Stephen Curry,Reportedly agreed to 5-yr/$201M deal with Warr...,2017

In [39]:
salary_2017_2018['Year'].unique()

array([2017, 2018])

In [49]:
salary_2017_2018[salary_2017_2018['Player'] == 'Stephen Curry']

      Unnamed: 0         Player  Actual_Salary  Adjusted_Salary  Year
0              0  Stephen Curry       34682550         36266630  2017
586            0  Stephen Curry       34682550         36266630  2017
1172           0  Stephen Curry       37457154         38074629  2018